.pessoas-e-empresas-subtitle {
    font-size: 1rem;
    font-weight: 100;
}
.pessoas-e-empresas-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.pessoas-e-empresas-block {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
.foto-person {
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;/*мають бути фото тому не виносив колір*/
    border-radius: 50%;
}


@media screen and (min-width: 768px){

    .pessoas-e-empresas .title-blocks {
        text-align: center;
    }
    .pessoas-e-empresas-wrapper{
        justify-content: center;
        row-gap: 40px;
    }
    .pessoas-e-empresas-block {
        max-width: 20%;
    }
    .foto-person {
        max-width: 120px;
        max-height: 120px;
    }

}