.servico-wrapper {
    display: flex;
}
 .row:first-child .servico-wrapper{
    padding-right: 0.3rem;
}
.servico-wrapper:not(:last-child) {
    padding-bottom: 0.3rem;
}
.servico-article {
    color: var(--bg-color-white);
    background-color: var(--bg-color-light-green);
    padding: 2.5rem 1rem;
}
.title-article {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
}
.title-article-subtitle {
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
}
.servico-description {
    color: var(--bg-color-olive-green);
}
.servico-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicos-accordion {
    max-width: 380px;
    min-width: 300px;
    width: 100%;
    height: 58px;
    position: relative;
    margin: 10px 0;
    padding: 0;
    background-image: url('./../icons/down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    padding-right: 2.5rem; 
    background-color: var(--bg-color-olive-green);
    border: 2px solid var(--bg-color-light);
    cursor: pointer;
    appearance: none;

}
.accordion-item {
    color: var(--color-text-accordion);
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.5rem 7.5rem 0.5rem 0.9rem;
}
.check-mark {
    padding: 0.9rem 1.9rem 0.9rem 4.4rem;
}
.check-mark:hover::before {
    transform: translate(50%) rotate(-45deg) scale(1.3);
}
.check-mark::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 17px;
    left: 10px;
    border-bottom: 2px solid var(--border-color-arrows-carousel);
    border-left: 2px solid var(--border-color-arrows-carousel);
    transform: translate(50%) rotate(-45deg);
    transition: all .5s ease-in-out;
}
.btn-be:hover {
    background-color: var(--color-text-accordion);
    border: 1px solid var(--border-color-bottom-main-menu);
}
.btn-be {
    display: inline-block;
    position: relative;
    margin: 0.5rem auto;
    padding: 0.9rem 1.7rem 0.9rem 4.4rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--bg-color-red-btn);
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
.btn-be::before {
    content: url('./../icons/Behance.png');
    position: absolute;
    width: 28px;
    height: 28px;
    left: 30px;
}
@media screen and (min-width: 768px) {
    .servico-article {
        padding: 2.5rem
    }
}
@media screen and (min-width: 980px) {
    .row>.servico-wrapper:last-child .servico-buttons{
        flex-direction: row;
        justify-content: space-between;
    }
    .servico-article {
        padding: 2.5rem 3rem;
    }
}